*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: aquamarine;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    text-align: center;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.438);
    margin-bottom: 20px;
}

section{
    background-color: white;
    max-width: 400px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.438);

    left: 50%;
    top: 50%;
    transform: translate(-0%, 15%);
}

#conteudo{
    border: 1px solid rgba(0, 0, 0, 0.377);
    box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.137);
    padding: 5px;
    border-radius: 10px;
}

#cliente, #servicos, #servicospc, #risco{
    margin-left: 10px;
}


p i{
    font-size: 1.5em;
}

div#form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
}

#nome, #res{
    margin: 2px;
    padding: 10px;
}

select, input{
    width: 300px;
    padding: 3px;
    margin: auto;
    font-size: 1em;
}

#botoes{
    text-align: center;
}

button{
    background-color: black;
    color: white;
    width: 100px;
    margin: 5px;
    padding: 3px;
    font-size: 1em;
    border-radius: 5px;
    transition: transform 0.2s ease,
                box-shadow 0.2s ease;
}

button:hover{
    transform: scale(1.1);
}

@media (max-width: 768px){
    section{
        max-width: 300px;
    }

    select, input{
        width: 200px;
    }

}